{% sw_extends "@Storefront/storefront/page/product-detail/headline.html.twig" %}

{% block page_product_detail_name %}
    {% set productName = page.product.translated.name %}
    {% if page.product.extensions.productPrefix['prefix'] is defined and page.product.extensions.productPrefix['prefix'] %}
        {% set productName = page.product.extensions.productPrefix['prefix'] ~ ' - ' ~ page.product.translated.name %}
    {% endif %}
    <h1 class="product-detail-name"
        itemprop="name">
        {{ productName }}
    </h1>
    {# {{ dump(page.product.extensions.prefix['prefix']) }} #}
    {# {{ dump(config('Set2022DynamicProductNames.config.prefix')) }} #}
{% endblock %}
