{% block wexo_product_label_condition_form %}
    <div class="wexo-product-label-condition-form">
        {% block wexo_product_label_condition_form_product_stream %}
            <wexo-product-label-product-stream>

            </wexo-product-label-product-stream>
        {% endblock %}

        {% block wexo_product_label_condition_form_sales_channels %}
            <wexo-product-label-saleschannel>

            </wexo-product-label-saleschannel>
        {% endblock %}
    </div>
{% endblock %}
